---
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ cluster_id }}
{% set rendezvous_node = install_agent_effective_nodes | first %}
rendezvousIP: {{ install_agent_rendezvous_ip | default(rendezvous_node.ip, true) }}
{% if install_agent_ntp_servers is defined %}
AdditionalNTPSources: {{ install_agent_ntp_servers | map(attribute='hostname') | list }}
{% endif %}
hosts:
{% for node in install_agent_effective_nodes %}
  - hostname: {{ node.hostname }}
{% set node_role = node.role | default('worker') %}
    role: {{ 'master' if node_role in ['master', 'control', 'control-plane'] else 'worker' }}
    interfaces:
    - name: {{ node.interface | default(install_agent_ifname) }}
      macAddress: {{ node.mac }}
{% if node.ip | default('', true) | length > 0 %}
    networkConfig:
      interfaces:
      - name: {{ node.interface | default(install_agent_ifname) }}
        type: ethernet
        state: up
        ipv4:
          enabled: true
          address:
            - ip: {{ node.ip }}
              prefix-length: {{ node.prefix_length | default(install_agent_netmask_prefix) }}
          dhcp: false
        ipv6:
          enabled: false
      dns-resolver:
        config:
          server: {{ node.dns_servers | default(install_agent_dns_servers) }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ node.gateway | default(install_agent_gateway) }}
            next-hop-interface: {{ node.interface | default(install_agent_ifname) }}
{% endif %}
{% endfor %}
