---
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ cluster_id }}
rendezvousIP: {{ lookup('dig',groups['control'][0]) }}
{% if install_agent_ntp_servers is defined %}
additionalNTPSources: {{ install_agent_ntp_servers | map(attribute='hostname') | list }}
{% endif %}
hosts:
{% for node in install_agent_create_vms_agent_based_vminfo %}
  - hostname: {{ node.item  }}
{% if 'control' in node.item or "etc" in node.item %}
    role: master
{% else %}
    role: worker
{% endif %}
    interfaces:
    - name: {{ install_agent_ifname }}
      macAddress: {{ node.instance.hw_eth0.macaddress }}
    networkConfig:
      interfaces:
      - name: {{ install_agent_ifname }}
        type: ethernet
        state: up
        ipv4:
          enabled: true
          address:
            - ip: {{ lookup('pipe', 'getent hosts ' + node.item).split() | first }}
              prefix-length: {{ install_agent_netmask_prefix }}
          dhcp: false
        ipv6:
          enabled: false
      dns-resolver:
        config:
          server: {{ install_agent_dns_servers }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ install_agent_gateway }}
            next-hop-interface: {{ install_agent_ifname }}
{% endfor %}
