apiVersion: v1
baseDomain: {{ ocp_install_base_domain }}
{% if ocp_install_proxy | bool %}
proxy:
  httpProxy: "{{ ocp_install_proxy_url }}"
  httpsProxy: "{{ ocp_install_proxy_url }}"
  noProxy: "{{ ocp_install_no_proxy }}"
{% endif %}
compute:
  - architecture: amd64
    hyperthreading: Enabled
    name: worker
    platform: {}
    replicas: {{ groups['compute'] | length + groups['infra'] | length }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ ocp_install_cluster_name }}
networking:
  clusterNetwork:
    - cidr: {{ ocp_install_pod_network }}
      hostPrefix: 23
  machineNetwork:
    - cidr: {{ ocp_install_machine_network }}
  networkType: OVNKubernetes
  serviceNetwork:
    - {{ ocp_install_service_network }}
platform:
  {{ lookup('template', 'platform-' ~ ocp_install_platform ~ '.yml.j2') | indent(2) }}
pullSecret: '{{ ocp_install_pullsecret }}'
sshKey: |
{% for key in ocp_install_ssh_pub_keys %}
  {{ key }}
{% endfor %}
{% if ocp_install_additional_trust_bundle | length > 0 %}
additionalTrustBundle: |
  {{ ocp_install_additional_trust_bundle | indent(2) }}
{% endif %}
{% if ocp_install_registry | bool %}
ImageDigestSources:
  - mirrors:
    - {{ ocp_install_registry_quayio }}/openshift-release-dev/ocp-v4.0-art-dev
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - {{ ocp_install_registry_quayio }}/openshift-release-dev/ocp-release
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
    - eps-om-proj-prg-registry-redhat-io.artifactory.dhl.com
    source: registry.redhat.io
{% endif %}
