---
- name: Validate ocp_install_method
  ansible.builtin.assert:
    that:
      - ocp_install_method in ['upi', 'agent']
    fail_msg: "ocp_install_method must be one of: 'upi', 'agent'."

- name: Include UPI-based install
  ansible.builtin.include_role:
    name: lit.ocp.ocp_install_upi
  when: ocp_install_method == 'upi'

- name: Include agent-based install
  ansible.builtin.include_role:
    name: lit.ocp.ocp_install_agent
  when: ocp_install_method == 'agent'
